{% extends "timemap/base.html" %}

{% block body %}
    <h1>{{ project.title }}</h1>
    <p class="lead">{{ project.description }}</p>

    <h2>Timelines</h2>

    <p>
        If you don't see a timeline for the edition you'd like to map, contact
        us with the details, and we'll get it added right away.
    </p>

    <div class="list-group">
    {% for timeline in project.timelines.all %}
        <div class="list-group-item col-md-6">
            <h4 class="list-group-item-heading">
                {% if timeline.media_type == "book" %}<i class="fa fa-book"></i>{% endif %}
                <a href="{% url 'timeline_detail' project.slug timeline.pk %}">{{ timeline.name }}</a>
                <small>{{ timeline.identifier }}</small>
            </h4>
        </div>
    {% endfor %}
    </div>

{% endblock %}
