{% extends "timemap/base.html" %}

{% block body %}

    <p class="lead">
        <a href="{% url 'project_detail' timeline.project.slug %}">{{ timeline.project }}</a>
        /
        Timeline:
    </p>

    <h1>
        {% if timeline.media_type == "book" %}<i class="fa fa-book"></i>{% endif %}
        {{ timeline.name }}
        <small>{{ timeline.identifier }}</small>
    </h1>

    <p class="lead">
        At this stage, we're just gathering data. You can add your own mapping
        from an event to a particular point on this timeline but
        make sure you're on the right timeline for the edition you're annotating.
    </p>

    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'timeline_events_mapping_create' timeline.project.slug timeline.pk %}">
            <i class="fa fa-plus"></i>
            Add a Mapping
        </a>
        <a class="btn btn-default btn-lg" href="{% url 'project_detail' timeline.project.slug %}">Pick Another Timeline</a>
    </p>

    <h2>Existing Events on This Timeline</h2>

    <p class="lead">
        Soon you'll have the ability to verify or flag these existing mappings.
    </p>

    <div class="mappings">
    {% for mapping in timeline.mappings.all %}
        {% include "timemap/_mapping.html" %}
    {% endfor %}
    </div>
{% endblock %}
