{% extends "timemap/base.html" %}

{% block body %}
    <h1>
        {% if timeline.media_type == "book" %}<i class="fa fa-book"></i>{% endif %}
        {{ timeline.name }}
        <small>{{ timeline.identifier }}</small>
    </h1>

    <a class="btn btn-primary" href="{% url "timeline_events_mapping_create" timeline.project.slug timeline.pk %}">Add a Mapping</a>

    <div class="mappings">
    {% for mapping in timeline.mappings.all %}
        {% include "timemap/_mapping.html" %}
    {% endfor %}
    </div>
{% endblock %}
