{% extends "timemap/base.html" %}

{% block body %}
    <h1>
        {% if timeline.media_type == "book" %}<i class="fa fa-book"></i>{% endif %}
        {{ timeline.name }}
        <small>{{ timeline.identifier }}</small>
    </h1>

    {% include "timemap/_mapping_form.html" %}

    <div class="mappings">
    {% for mapping in timeline.mappings.all %}
        {% include "timemap/_mapping.html" %}
    {% endfor %}
    </div>
{% endblock %}


{% block extra_body %}
    {{ block.body }}
    <script charset="utf-8">
        $(".mapping-form").eventSelector();
        // $(document).on("eldarion-ajax:success", function(evt, $el, data) {
        //     if ($el.hasClass("mapping-form")) {
        //         $(".mapping-form").eventSelector();
        //     }
        // });
    </script>
{% endblock %}
