{% extends "site_base.html" %}

{% block head_title %}pinax-project-socialauth{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>synopti.co</h1>
            <p>
                Crowdsourcing mappings between the same events on different timelines.
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Current Projects</h2>

            <div class="list-group">
                {% for project in projects %}
                    <a href="{% url 'project_detail' project.slug %}" class="list-group-item col-md-4">
                        <h4 class="list-group-item-heading">{{ project.title }}</h4>
                        <p class="list-group-item-text">{{ project.description }} </p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
