{% extends "synoptico/base.html" %}

{% block body %}
    <h1>{{ project.title }}</h1>
    <p class="lead">{{ project.description }}</p>

    <h2>Timelines</h2>


    <p class="lead">
        Pick a timeline for a book edition or film you have access to and start
        mapping events on to that timeline.
        If you don't see a timeline for the edition you'd like to map, contact
        us with the details, and we'll get it added right away.
    </p>

    <div class="list-group">
        {% for timeline in project.timelines.all %}
            <div style="margin-top: 5px;">
                <a href="{% url 'timeline_detail' project.slug timeline.pk %}" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {% if timeline.media_type == "book" %}<i class="fa fa-book"></i>{% endif %}
                        {{ timeline.name }}
                        <small>{{ timeline.identifier }}</small>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
