{% extends "timemap/base.html" %}

{% load bootstrap %}

{% block body %}

    <h1>
        {% if timeline.media_type == "book" %}<i class="fa fa-book"></i>{% endif %}
        {{ timeline.name }}
        <small>{{ timeline.identifier }}</small>
    </h1>

    <p class="lead">
        Find a single event in <b>{{ timeline.name }}</b> and note when it happens.
        You can either select an existing event that has already been mapped to
        another timeline or create a new event if no one has entered it before.
        If your event has already been mapped for this timeline, there is no need
        to enter it again.
    </p>

    <form class="form mapping-form" data-append=".mappings" method="post" action="{% url "timeline_events_mapping_create" timeline.project.slug timeline.pk %}">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-primary" name="save" value="add">Save</button>
        <button class="btn btn-default" name="save" value="add-another">Save &amp; Add Another</button>
        <a class="btn btn-default" href="{% url 'timeline_detail' timeline.project.slug timeline.pk %}">Cancel</a>
    </form>
{% endblock %}

{% block extra_body %}
    {{ block.body }}
    <script charset="utf-8">
        $(".mapping-form").eventSelector();
    </script>
{% endblock %}
