{% extends "site_base.html" %}

{% block head_title %}pinax-project-socialauth{% endblock %}

{% block body_class %}home{% endblock %}

{% block site_brand %}{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1><span style="font-weight: 600;">TIME</span><span style="font-weight: 300;">MAP</span></h1>
            <p>
                Crowdsourcing mappings between the same events on different timelines.
            </p>
        </div>
    </section>
    <section>
    </section>
{% endblock %}
